<main class="container mx-auto">
  <section class="flex flex-col gap-2 md:flex-row md:justify-between">
    <header>
      <h1 class="text-2xl font-bold font-montserrat text-neutral">Listado de productos</h1>
      <h3 class="text-lg font-semibold">
        Total de productos: <span class="text-accent">{{ productsResource.value()?.count }}</span>
      </h3>
    </header>

    <div class="flex items-center">
      @if (productsToDelete().size > 0) {
      <button class="flex gap-2 btn btn-error btn-soft mr-4" (click)="deleteModal.showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 7l16 0" />
          <path d="M10 11l0 6" />
          <path d="M14 11l0 6" />
          <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
          <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
        </svg>
        <span class="hidden sm:inline">Eliminar</span>
      </button>
      <dialog id="deleteModal" #deleteModal class="modal">
        <div class="modal-box">
          <h3 class="text-lg font-bold flex gap-2 items-center">
            <span class="text-red-700">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-alert-square-rounded">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 3c7.2 0 9 1.8 9 9c0 7.2 -1.8 9 -9 9c-7.2 0 -9 -1.8 -9 -9c0 -7.2 1.8 -9 9 -9" />
                <path d="M12 8v4" />
                <path d="M12 16h.01" />
              </svg>
            </span>
            Eliminar producto/s
          </h3>
          <p class="py-4">¿Está seguro que desea eliminar el/los producto/s seleccionado/s?</p>
          <div class="modal-action">
            <form method="dialog">
              <!-- if there is a button in form, it will close the modal -->
              <button class="btn">Cancelar</button>
            </form>
            <button class="btn btn-error" (click)="deleteProducts()" [disabled]="formRequestStatus().isLoading">
              @if (formRequestStatus().isLoading) {
              Eliminando
              <span class="loading loading-spinner loading-md"></span>
              }
              @else {
              Eliminar
              }
            </button>
          </div>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
      }
      <button class="flex gap-2 btn btn-neutral mr-4" routerLink="/admin/products/new">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 5l0 14" />
          <path d="M5 12l14 0" />
        </svg>
        <span class="hidden sm:inline">Nuevo producto</span>
      </button>
      <select class="select select-bordered w-32" #amountSelect
        (change)="this.productsPerPage.set(+amountSelect.value)">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <app-pagination [currentPage]="paginationService.currentPage()"
        [totalPages]="productsResource.value()?.pages || 0" class="ml-4" />
    </div>
  </section>

  <section class="flex flex-col gap-4">
    <products-table [products]="productsResource.value()?.products ?? []" (checkedProducts)="onProductChecked($event)"
      class="mt-2 p-4" />
  </section>
</main>

@if (formRequestStatus().completedSuccessfully) {
<div role="alert" class="alert alert-success text-white animate-fade-in fixed bottom-5 right-5 w-52 shadow-2xl">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-circle-check">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
    <path d="M9 12l2 2l4 -4" />
  </svg>
  <span>Producto/s eliminado/s exitosamente</span>
</div>
}

@if (formRequestStatus().error) {
<div role="alert" class="alert alert-error animate-fade-in fixed bottom-5 right-5 w-52 shadow-2xl">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>{{formRequestStatus().error}}</span>
</div>
}