<!-- Slider main container -->
<div class="swiper relative group" #swiperDiv>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    @for (imageName of images(); track imageName) {
    <div class="swiper-slide relative bg-transparent">
      <img [src]="imageName | productImage" class="h-full w-full rounded-2xl object-contain">
      @if (deleteOption()) {
      <button type="button" class="absolute btn btn-circle btn-soft btn-error top-2 right-2" (click)="deleteImage.emit(imageName)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-x">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M18 6l-12 12" />
          <path d="M6 6l12 12" />
        </svg>
      </button>
      }
    </div>
    }
    @empty {
    <div class="swiper-slide relative">
      <img [src]="'' | productImage" class="h-full w-full rounded-2xl object-contain">
    </div>
    }
  </div>

  <div class="swiper-pagination"></div>

  <button type="button" #prevButton class="absolute left-4 top-1/2 -translate-y-1/2 z-10
         flex h-11 w-11 items-center justify-center
         rounded-full bg-white/90 shadow-lg backdrop-blur-sm
         opacity-0 scale-95 pointer-events-none
         transition-all duration-200
         group-hover:opacity-100
         group-hover:scale-100
         group-hover:pointer-events-auto">
    <lucide-icon [img]="ChevronLeft" class="w-6 h-6"></lucide-icon>
  </button>

  <button type="button" #nextButton class="absolute right-4 top-1/2 -translate-y-1/2 z-10
         flex h-11 w-11 items-center justify-center cursor-pointer
         rounded-full bg-white/90 shadow-lg backdrop-blur-sm
         opacity-0 scale-95 pointer-events-none
         transition-all duration-200
         group-hover:opacity-100
         group-hover:scale-100
         group-hover:pointer-events-auto">
    <lucide-icon [img]="ChevronRight" class="w-6 h-6"></lucide-icon>
  </button>

</div>