<main class="py-6 px-2 sm:px-4 min-h-[calc(100svh-72px)] flex flex-col">
  @if (productsResource.isLoading()) {
  <div class="w-full flex-1 flex items-center justify-center gap-2">
    <span class="font-montserrat font-semibold text-slate-700">Cargando productos</span>
    <span class="loading loading-dots loading-xl"></span>
  </div>
  }
  @else {
  <h1 class="text-3xl text-neutral font-montserrat font-bold">Todos los productos</h1>
  <h2 class="text-xl mb-5 font-montserrat">Para todos los gustos</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mt-2 gap-3 lg:gap-8">
    @for (product of productsResource.value()?.products; track $index) {
    <product-card [product]="product" />
    }
    @empty {
    <p>No hay productos</p>
    }
  </div>
  <div class="mt-6 mb-4 justify-center flex">
    <app-pagination [totalPages]="productsResource.value()?.pages ?? 0"
      [currentPage]="paginationService.currentPage()" />
  </div>
  }
</main>